@import url('font.css');
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../../src/images/backgroundloading.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand Bold';
    flex-direction: column;
}

.gif_loading{
  width: 100px;
  height: 100px;
}

.txt_copyright{
  color: rgb(224, 224, 224);
  font-size: 16px;
}